<footer class="bg-secondary text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4 textos-header">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="img/san_pedro.png" height="100" width="100" alt="" loading="lazy" />
                </div>

                <p class="text-center">Municipalidad Distrital de San Pedro De Palco</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2"
                            href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-4">Horario de Atencion</h6>

                <ul class="list-unstyled">
                    <li>
                        <p>Luneas a Viernes</p>
                    </li>
                    <li>
                        <p>8:00 am a 1:00 pm</p>
                    </li>
                    <li>
                        <p>3:00 pm a 5:00 pm</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-4">Telefonos de emergencia</h6>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <p><i class="fas fa-phone pe-2"></i>Policía Nacional del Perú: 105</p>
                    </li>
                    <li class="mb-2">
                        <p><i class="fas fa-phone pe-2"></i>Bomberos Voluntarios: 106</p>
                    </li>
                    <li class="mb-2">
                        <p><i class="fas fa-phone pe-2"></i>Casos de violencia contra las mujeres : 100</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-4">Ubicacion</h6>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>Plaza Principal s/n, Lucanas</p>
                    </li>
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>Jr. Libertad #225, Huamanga</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>munisanpedrodepalco@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>© 2021 Municipalidad Distrital de San Pedro De Palco.
            Todos los derechos reservados.</p>
    </div>
    <!-- Copyright -->
</footer>