<nav>
    <section class="contenedor nav ">
        <div class="logo">
            <img src="img/san_pedro.png" alt="">
        </div>
        <div class="enlaces-header">
            <a href="index.html">INICIO</a>
            <a href="municipalidad.html">MUNICIPALIDAD</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="transparencia.html">TRANSPARENCIA</a>
            <a href="convocatorias.html">CONVOCATORIAS</a>
        </div>
        <div class="hamburguer">
            <img src="./img/bars-solid.svg" alt="">
        </div>
    </section>
</nav>