<nav>
    <div class="container">
        <section class="contenedor nav ">
            <div class="logo">
                <img src="img/san_pedro.png" alt="">
            </div>
            <div class="enlaces-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="municipalidad.html">MUNICIPALIDAD</a>
                    </li>
                    <li class="nav-item">
                        <a href="servicios.html">SERVICIOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="transparencia.html">TRANSPARENCIA</a>
                    </li>
                    <li class="nav-item">
                        <a href="convocatorias.html">CONVOCATORIAS</a>
                    </li>
                </ul>
            </div>
            <div class="hamburguer">
                <img src="./img/bars-solid.svg" alt="">
            </div>
        </section>
    </div>
</nav>