<nav class="navbar navbar-expand-sm" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="img/san_pedro_80X72.png" alt=""></a>
      <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="navbar-collapse collapse" id="navbarsExample03" style="">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
<!-- <nav>
    <div class="container">
        <section class="contenedor nav ">
            <div class="logo">
                <img src="img/san_pedro.png" alt="">
            </div>
            <div class="enlaces-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link active">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="municipalidad.html">MUNICIPALIDAD</a>
                    </li>
                    <li class="nav-item">
                        <a href="servicios.html">SERVICIOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="transparencia.html">TRANSPARENCIA</a>
                    </li>
                    <li class="nav-item">
                        <a href="convocatorias.html">CONVOCATORIAS</a>
                    </li>
                </ul>
            </div>
            <div class="hamburguer">
                <img src="./img/bars-solid.svg" alt="">
            </div>
        </section>
    </div>
</nav> -->