<<<<<<< Updated upstream
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pe-3 ps-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="img/san_pedro_80X72.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="municipalidad.html">MUNICIPALIDAD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servicios.html">SERVICIOS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            TRANSPARENCIA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="documentos_gestion.html">DOCUMENTOS DE GESTIÓN</a></li>
            <li><a class="dropdown-item" href="ordenanza_municipal.html">ORDENANZA MUNICIPAL</a></li>
            <li><a class="dropdown-item" href="acuerdo_consejo.html">ACUERDO DE CONSEJO</a></li>
            <li><a class="dropdown-item" href="resolucion_municipal.html">RESOLUCION DE ALCALDIA</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            CONVOCATORIAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="cas_proceso.html">CAS - Proceso</a></li>
            <li><a class="dropdown-item" href="cas_finalizado.html">CAS - Finalizado</a></li>
            <li><a class="dropdown-item" href="proc_nombramiento.html">Proceso de Nombramiento</a></li>
            <li><a class="dropdown-item" href="proceso_seleccion.html">Proceso de Seleccion</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
=======
<nav>
    <div class="container">
        <section class="contenedor nav ">
            <div class="logo">
                <img src="img/san_pedro.png" alt="">
            </div>
            <div class="enlaces-header menudos">

                <a href="index.html">INICIO</a>


                <a href="municipalidad.html">MUNICIPALIDAD</a>


                <a href="servicios.html">SERVICIOS</a>


                <a href="transparencia.html">TRANSPARENCIA</a>


                <a href="convocatorias.html">CONVOCATORIAS</a>

                </ul>
            </div>
            <div class="hamburguer">
                <img src="./img/bars-solid.svg" alt="">
            </div>
        </section>
>>>>>>> Stashed changes
    </div>
  </div>
</nav>