<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>

            <%- include('componentes/navBar.ejs'); %>

                <div id="myCarousel" class="carousel slide margin1" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/1.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>Example headline.</h1>
                                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/2.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/3.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>One more for good measure.</h1>
                                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

        </header>
        <!-- iconos horizontal -->
        <div class="container marketing">
            
            <div class="row">
                <div class="col-lg-4">
                    <svg aria-hidden="true" width="80" height="80" focusable="false" data-prefix="fas" data-icon="cogs"
                        class="svg-inline--fa fa-cogs fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512">
                        <path fill="currentColor"
                            d="M512.1 191l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0L552 6.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zm-10.5-58.8c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.7-82.4 14.3-52.8 52.8zM386.3 286.1l33.7 16.8c10.1 5.8 14.5 18.1 10.5 29.1-8.9 24.2-26.4 46.4-42.6 65.8-7.4 8.9-20.2 11.1-30.3 5.3l-29.1-16.8c-16 13.7-34.6 24.6-54.9 31.7v33.6c0 11.6-8.3 21.6-19.7 23.6-24.6 4.2-50.4 4.4-75.9 0-11.5-2-20-11.9-20-23.6V418c-20.3-7.2-38.9-18-54.9-31.7L74 403c-10 5.8-22.9 3.6-30.3-5.3-16.2-19.4-33.3-41.6-42.2-65.7-4-10.9.4-23.2 10.5-29.1l33.3-16.8c-3.9-20.9-3.9-42.4 0-63.4L12 205.8c-10.1-5.8-14.6-18.1-10.5-29 8.9-24.2 26-46.4 42.2-65.8 7.4-8.9 20.2-11.1 30.3-5.3l29.1 16.8c16-13.7 34.6-24.6 54.9-31.7V57.1c0-11.5 8.2-21.5 19.6-23.5 24.6-4.2 50.5-4.4 76-.1 11.5 2 20 11.9 20 23.6v33.6c20.3 7.2 38.9 18 54.9 31.7l29.1-16.8c10-5.8 22.9-3.6 30.3 5.3 16.2 19.4 33.2 41.6 42.1 65.8 4 10.9.1 23.2-10 29.1l-33.7 16.8c3.9 21 3.9 42.5 0 63.5zm-117.6 21.1c59.2-77-28.7-164.9-105.7-105.7-59.2 77 28.7 164.9 105.7 105.7zm243.4 182.7l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0l8.2-14.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zM501.6 431c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.6-82.4 14.3-52.8 52.8z">
                        </path>
                    </svg>
                    <h4>OBRAS</h4>
                    <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <svg aria-hidden="true" width="80" height="80" focusable="false" data-prefix="fas" data-icon="business-time" class="svg-inline--fa fa-business-time fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M496 224c-79.59 0-144 64.41-144 144s64.41 144 144 144 144-64.41 144-144-64.41-144-144-144zm64 150.29c0 5.34-4.37 9.71-9.71 9.71h-60.57c-5.34 0-9.71-4.37-9.71-9.71v-76.57c0-5.34 4.37-9.71 9.71-9.71h12.57c5.34 0 9.71 4.37 9.71 9.71V352h38.29c5.34 0 9.71 4.37 9.71 9.71v12.58zM496 192c5.4 0 10.72.33 16 .81V144c0-25.6-22.4-48-48-48h-80V48c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h395.12c28.6-20.09 63.35-32 100.88-32zM320 96H192V64h128v32zm6.82 224H208c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h291.43C327.1 423.96 320 396.82 320 368c0-16.66 2.48-32.72 6.82-48z"></path></svg>
                    </svg>

                    <h4>EMPRENDIMIENTO</h4>
                    <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <svg aria-hidden="true" width="80" height="80" focusable="false" data-prefix="fas" data-icon="user-shield" class="svg-inline--fa fa-user-shield fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9 135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z"></path></svg>

                    <h4>CODISEC</h4>
                    <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
            <!-- START THE FEATURETTES -->
            <div class="contenedor">
                <section class="contenido-header">
                    <section class="textos-header">
                        <div class="block-title underline">BIENVENIDOS</div>
                        <p>Les damos la más cordial bienvenida a este espacio digital donde usted podrá encontrar
                            toda la información que necesita sobre nuestra institución.</p>
                        <br>
                        <p><strong> Wilber Barrientos Flores</strong></p>
                        <p></strong>Alcalde</strong></p>
                        <p></strong>Gestión 2019-2022</strong></p>
                        <!-- <a  href="municipalidad.html">Leer más</a> -->
                        <button type="button" class="btn btn-outline-primary">Leer más <i class="fas fa-arrow-right"
                                style="color: #007bff;"></i></button>
                    </section>
                    <img src="img/alcalde.jpg" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
                </section>
            </div>
                            
            <!-- /END THE FEATURETTES -->
            <!-- /START THE NOTICIAS -->
            <div class="row mb-2">
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="mb-0">Meta 5-PIM</h3>
                      <div class="mb-1 text-muted">15 Mayo</div>
                      <p class="card-text mb-auto">El Ministerio de Vivienda Construcción y Saneamiento, a través del centro de atención al
                        ciudadano CAC- Ayacucho...</p>
                      <a href="#" class="stretched-link">Leer más</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img src="img/noticia1.jpg" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">
            
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="mb-0">Feliz Aniversario</h3>
                      <div class="mb-1 text-muted">06 Julio</div>
                      <p class="mb-auto">La Municipalidad Distrital de San Pedro de Palco,creado por Ley N° 15091del 08 de Julio de 1964
                        durante el Gobierno de Fernando Belaunde Terry...</p>
                      <a href="#" class="stretched-link">Leer más</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="img/noticia2.jpg" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">
            
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Seguimos trabajando</h3>
                        <div class="mb-1 text-muted">18 Julio</div>
                        <p class="mb-auto">El gobierno Local de la Municipalidad distrital de San Pedro de Palco, entrega bienes de ayuda
                            humanitaria a nivel distrital...</p>
                        <a href="#" class="stretched-link">Leer más</a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                          <img src="img/noticia2.jpg" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">
              
                      </div>
                    </div>
                  </div>
              </div>
            <!-- /END THE NOTICIAS -->
            <section class="questions contenedor">
                <section class="textos-questions">
                    <h1>Agenda Cultural</h1>
                    <p>Talleres, capacitaciones, eventos y más para nuestra poblacion</p>
                    <a href="eventos.html">Ver Evento...</a>
                </section>
                <img src="img/evento1.jpg" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
            </section>

            <section class="results">
                <h1>NÚMEROS DE UTILIDAD</h1>
                <div class="contenedor1 conten-results">
                    <section class="numbers">
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/hospital.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>PUESTO DE SALUD</p>
                            </div>
                        </div>
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/policeman.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>COMISARIA</p>
                            </div>
                        </div>
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/peru.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>DEFENZA CIVIL</p>
                            </div>
                        </div>
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/silver-whistle.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>SERENAZGO</p>
                            </div>
                        </div>
                    </section>
                </div>
                <h1>NÚMEROS TRIBUTARIOS</h1>
                <div class="contenedor1 conten-results">
                    <section class="numbers">
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/home.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>MUNICIPALIDAD</p>
                            </div>
                        </div>
                        <div class="number" data-aos="zoom-in-left">
                            <img src="./img/hand.svg" alt="">
                            <div class="espacio">
                                <h4>+51 999999999</h4>
                                <p>CENTRAL TRIBUTARIA</p>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

            <div id="rigth_social_bar">
                <div class="social-bar">
                    <a href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco"
                        class="icon icon-facebook" target="_blank"></a>
                    <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                    <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                    <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
                </div>
            </div>


            <div id="left_social_bar">
                <div class="social-bar_1">
                    <a href="https://gmail.com" class="fas fa-envelope-open-text" target="_blank"></a>
                </div>

            </div>

            <section class="container">
                <div class="contenedor1">
                    <h1>Áreas temáticas San Pedro De Palco</h1>
                    <div class="contenedor1-articulo">
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/turismo.jpeg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Cultura y Turismo</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/recursos.jpeg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Recursos Naturales</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/agricultura.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Agricultura</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/ganaderia.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Ganaderia</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/desarrollo.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="#">
                                    <h3>Desarrollo Humano</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/deportes.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Deportes</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-us_nuevo">
                <div class="contenedor1 services">
                    <div>
                        <h1>ANUNCIOS DE TRANSPARENCIA</h1>
                        <img src="img/logo-portal-transparencia.png" alt="" data-aos="zoom-out-up"
                            data-aos-duration="2000">
                    </div>
                    <div class="box-skills">
                        <a href="convocatorias.html">
                            <h4><i class="far fa-check-circle"></i> CONVOCATORIAS</h4>
                        </a>
                        <a href="resolucion_municipal.html">
                            <h4><i class="far fa-check-circle"></i> RESOLUCIONES DE ALCALDIA</h4>
                        </a>
                        <a href="#">
                            <h4><i class="far fa-check-circle"></i> ADQUISICIONES Y CONTRATACIONES</h4>
                        </a>

                    </div>
                </div>
            </section>

            <%- include('componentes/footer.ejs'); %>

                <%- include('componentes/script.ejs'); %>



    </body>

</html>