<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>


    <body>
        <header>

            <%- include('componentes/navBar.ejs'); %>


        </header>
        <section class="about-us">
            <div class="contenedor1_2">
                <div class="indice">
                    <a href="index.html">INICIO&nbsp;</a>
                    <a>/</a>
                    <a href="#">&nbsp;SERVICIOS</a>
                </div>
            </div>
        </section>
        <section class="results_1">
            <h1>SERVICIOS MUNICIPALES</h1>
            <div class="contenedor1 conten-results">
                <section class="numbers">
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>SISFOH</h4>
                            </a>
                            <p>OFICINA</p>
                            <p>Sistema de focalización de Hogares (SISFOH).</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>OMAPED</h4>
                            </a>
                            <p>EMPADRONAMIENTO</p>
                            <p>Oficina municipal de atención a las personas con discapacidad.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>CONTIGO</h4>
                            </a>
                            <p>VISITAS DOMICILIARIAS</p>
                            <p>Seguimiento y monitoreo para el uso adecuado de su pensión.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>DEMUNA</h4>
                            </a>
                            <p>DEFENSORIA</p>
                            <p>Defensoria municipal del niño, niña y adolescente.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>CIAM</h4>
                            </a>
                            <p>ADULTO MAYOR</p>
                            <p>Centro Integral de Atención al Adulto Mayor.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>VASO DE LECHE</h4>
                            </a>
                            <p>EMPADRONAMIENTO</p>
                            <p>El Programa del Vaso de Leche (PVL), creado mediante la Ley Nº 24059.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>REGISTRO CIVIL</h4>
                            </a>
                            <p>UNIDAD</p>
                            <p>Unidad responsable de programar , ejecutar y evaluar las acciones del Registro del Estado
                                Civil.</p>
                        </div>
                    </div>
                    <div class="number" data-aos="zoom-in-left">
                        <img src="./img/servicios.svg" alt="">
                        <div class="espacio_1">
                            <a href="#">
                                <h4>SEGURIDAD </h4>
                            </a>
                            <p>SEGURIDAD CIUDADANA</p>
                            <p>Respuesta rapida ante cualquier situación de emergencia.</p>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <div class="social-bar">
            <a href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco" class="icon icon-facebook"
                target="_blank"></a>
            <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
            <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
            <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
        </div>
        <%- include('componentes/footer.ejs'); %>
        
        <%- include('componentes/script.ejs'); %>

    </body>

</html>